# Node modules
/node_modules/

# Log files
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist
/build

# Environment files
backend/ .env

# IDE files (e.g., Visual Studio Code, IntelliJ)
.vscode/
.idea/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Temporary files
*.swp  # Vim swap files
